<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="copter_ray">

<!-- Build ray -->
	<xacro:macro name="ray_stick" params="side num angle">

	<joint name="ray_joint_${side}${num}" type="revolute">
		<origin xyz="0 0 0" rpy="0 0 ${angle}" /> 
		<parent link="frame" />
		<child link="arm_${side}${num}" />
		<limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

	<link name="arm_${side}${num}">
		<inertial>
			<mass value="0.08"/>
			<inertia 	ixx="0" ixy="0" ixz="0" 
						iyy="0" iyz="0" 
						izz="0"/>
		</inertial>
	</link>

	<joint name="propeller_joint_${side}${num}" type="revolute">
		<origin xyz="0.095 0 0.017" rpy="0 0 0" /> 
		<parent link="arm_${side}${num}" />
		<child link="propeller_${side}${num}" />
		<limit lower="0" upper="0" effort="0" velocity="0" />
	</joint>

	<link name="propeller_${side}${num}">
		<visual>
			<origin	xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<cylinder radius="0.06" length="0.006"/>
			</geometry>
			<material name="Grey" />
		</visual>
		<inertial>
			<mass value="0.015"/>
			<inertia 	ixx="0" ixy="0" ixz="0" 
						iyy="0" iyz="0" 
						izz="0"/>
		</inertial>
	</link>
</xacro:macro>

</robot>
