<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="copter">

<!-- Ray macros -->
	<xacro:include filename="$(find gscn_pioneer_description)/urdf/pioneer_ray.xacro"/>
	<xacro:include filename="$(find gscn_pioneer_description)/urdf/common_properties.xacro"/>
<!-- Build the body frame -->

	<link name="frame">
		<collision>
			<origin	xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<cylinder radius="0.8" length="0.25"/>
			</geometry>
		</collision>
			<visual>
				<origin	xyz="0 0 0" rpy="${M_PI/2} 0 0" />
				<geometry>
					<mesh filename="package://gscn_pioneer_description/meshes/frame.stl" />
				</geometry>
				<material name="Red" />
			</visual>
		<inertial>
			<mass value="1.5"/>
			<inertia 	ixx="0" ixy="0" ixz="0" 
						iyy="0" iyz="0" 
						izz="0" />
		</inertial>
	</link>

<!-- Build copter rays -->
	<ray_stick side="r" num="1" angle="-${M_PI/6}" />
	<ray_stick side="r" num="2"	angle="-${M_PI/2}" />
	<ray_stick side="r" num="3" angle="-${M_PI*5/6}" />
	<ray_stick side="l" num="1"	angle="${M_PI/6}" />
	<ray_stick side="l" num="2"	angle="${M_PI/2}" />
	<ray_stick side="l" num="3" angle="${M_PI*5/6}" />  
</robot>
