<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="copter">

<!-- Ray macros -->
	<xacro:include filename="$(find gscn_pioneer_description)/urdf/pioneer_ray.xacro"/>
	<xacro:include filename="$(find gscn_pioneer_description)/urdf/common_properties.xacro"/>
<!-- Build the body frame -->

	<link name="base_link">
		<collision>
			<origin	xyz="-0.07968 -0.07968 -0.077" rpy="0 0 0" />
			<geometry>
				<cylinder radius="0.2" length="0.2"/>
			</geometry>
		</collision>
			<visual>
				<origin	xyz="-0.085 -0.085 -0.077" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://gscn_pioneer_description/meshes/pioneer_frame.stl" />
				</geometry>
				<material name="White" />
			</visual>
		<inertial>
			<mass value="0.4"/>
			<inertia 	ixx="0" ixy="0" ixz="0" 
						iyy="0" iyz="0" 
						izz="0" />
		</inertial>
	</link>

<!-- Build copter rays -->
	<ray_stick side="r" num="1" angle="-${M_PI/4}" />
	<ray_stick side="r" num="2"	angle="-${M_PI*3/4}" />
	<ray_stick side="l" num="1"	angle="${M_PI/4}" />
	<ray_stick side="l" num="2"	angle="${M_PI*3/4}" />
</robot>
